<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Angular JS</title>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-route/angular-route.js"></script>
    <style>
    body {
        padding: 10px;
    }
    </style>
</head>

<body ng-app="">
    <div class="container" ng-init="countries=[{locale:'en-US',name:'United States'},{locale:'en-GB',name:'United Kingdrom'},{locale:'en-FR',name:'France'}]"></div>
    <p>Name :
        <input type="text" ng-model="name">
    </p>
    <span ng-bind="name"></span>
    <p>List of Countries:</p>
    <ul>
        <li ng-repeat="ct in countries">
            <p>Locale : {{ct.locale}}</p>
            <p>Name : {{ct.name}}</p>
        </li>
    </ul>
</body>

</html>
