<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Angular JS</title>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-route/angular-route.js"></script>
    <style>
    body {
        padding: 10px;
    }
    </style>
</head>

<body ng-app="toDo">
    <h1>TO-DO</h1>
    <div class="todo-container" ng-controller="toDoController as todoCont" ng-init="name=122">
        <input type="text" placeholder="Input your todo..." class="to-do" ng-model="todoCont.myToDo">
        <input type="submit" ng-show="todoCont.myToDo" class="submit" value="submit" ng-click="todoCont.submitForm()">
        <ul>
            <li class="to-do-list" ng-repeat="todo in todoCont.toDos">
                <div class="text" ng-class="{focus:this.clicked}" contenteditable="{{this.clicked}}">
                    {{todo}}
                </div>
                <div class="ui-controls">
                    <span ng-click="todoCont.edit(this,todo);" ng-class="{save:this.clicked ,edit:!this.clicked }"></span>
                    <span class="remove" ng-click="todoCont.remove(todo)"></span>
                </div>
            </li>
        </ul>
        <div class="toast" ng-class="{showToast:todoCont.toast}">
            <p>To do created...</p>
        </div>
    </div>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
</body>

</html>
