<div class="todo-container"  ng-init="name=122">
        <input type="text" placeholder="Input your todo..." class="to-do" ng-model="todoCont.myToDo">
        <input type="submit" ng-show="todoCont.myToDo" class="submit" value="submit" ng-click="todoCont.submitForm()">
        <ul>
            <li class="to-do-list" ng-repeat="todo in todoCont.toDos">
                <div class="text" ng-class="{focus:this.clicked}" contenteditable="{{this.clicked}}">
                    {{todo}}
                </div>
                <div class="date-created">Created on : 12-05-2016</div>
                <div class="ui-controls">
                    <span ng-click="todoCont.edit(this,todo);" ng-class="{save:this.clicked ,edit:!this.clicked }"></span>
                    <span class="remove" ng-click="todoCont.remove(todo)"></span>
                </div>
            </li>
        </ul>
        <paper-toast showtoast="todoCont.showToast" message="todoCont.toastMessage"></paper-toast>
    </div>